
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}

#message{
    display: none;
}
#message2{
    display: none;
}
#message3{
    display: none;
}
#message4{
    display: none;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #4b79ff;
    padding: 20px;
    flex-direction: column;
}

#tasb{
    color: white;
   
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#xadiis{
     margin-bottom:30px;
     color: rgb(230, 226, 226);
     justify-content: center;
     text-align: center;
     font-size: 10px;
     margin-top: 10px;

}


.counter-box{
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

/* .counter-box:hover{
    transform: scale(1.03);
} */


#counter{
    font-size: 5em;
    color: #333;
    margin-bottom: 30px;
}


button{
    padding: 12px 25px;
    margin: 0 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.3s ease;
}

#btninrc{
    background-color: #28a745;
    color: white;
}

#btndecr{
    background-color: #05e5ec;
    color: white;
}

#btnrest{
    background-color: #6c757d;
    color: white;
}

/* button:hover{
    opacity: 0.8;
    transform: translateY(-3px);
} */


@media (max-width: 480px){
    .counter-box{
        width: 90%;
        padding: 30px 20px;
    }

    #counter{
        font-size: 3.5em;
    }

    button{
        padding: 10px 18px;
        font-size: 1em;
    }
}


